<!DOCTYPE html>
<html>
    <head>
        <link href="../static/main4.css" rel="stylesheet">
        <div class=words>
            <h1>Super Geocoder</h1>
            <p>Please upload your CSV file.The values container should be in a column named address or Address</p>
        </div>
    </head>
    
       
    <body>
        <div class=csv>
           <form action ="{{url_for('uploaded')}}" method = "POST" 
              enctype = "multipart/form-data">
              <input type = "file" name = "address" required/>
              <input type = "submit" />
           </form>   
       </div>
       
       
       <div class=download>
           {{text|safe}}
       </div>
       
       
       
       <div class="container">
        {%block content%}
        {%endblock%}
        </div>
    </body>
    
       
      
       
</html>   