<table>
    <thead>
        <tr>
            <th>Field 1</th>
            <th>Field 2</th>
            <th>Field 3</th>
            <th>Field 4</th>
            <th>Field 5</th>
            <th>Field 6</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID</td>
            <td>Address</td>
            <td>Name</td>
            <td>Employees</td>
            <td>Latitude</td>
            <td>Longitude</td>
        </tr>
        <tr>
            <td>1</td>
            <td> 3666 21st St San Francisco CA 94114 USA</td>
            <td> Madeira</td>
            <td>8</td>
            <td>37.756488877551</td>
            <td>-122.429343346939</td>
        </tr>
        <tr>
            <td>2</td>
            <td> 735 Dolores St San Francisco CA 94119 USA</td>
            <td> Bready Shop</td>
            <td>15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td> 332 Hill St San Francisco California 94114 USA</td>
            <td> Super River</td>
            <td>25</td>
            <td>37.755725122449</td>
            <td>-122.428601306122</td>
        </tr>
        <tr>
            <td>4</td>
            <td> 3995 23rd St San Francisco CA 94114 USA</td>
            <td> Ben&#x27;s Shop</td>
            <td>10</td>
            <td>37.7529648</td>
            <td>-122.431714</td>
        </tr>
        <tr>
            <td>5</td>
            <td>1056 Sanchez St San Francisco California USA</td>
            <td>Sanchez</td>
            <td>12</td>
            <td>37.7521458</td>
            <td>-122.42981516</td>
        </tr>
    </tbody>
</table>